In [ ]:
print("This is my first line of code in python")

In [ ]:
print("Hello\nThis is in the next line")

In [ ]:
a = 6
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)
print(a % b) 
print(a ** b)

In [ ]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

In [ ]:
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

In [ ]:
#Logical
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)

In [1]:
small = "i am upper cased"
print(small.upper())

large = "I AM LOWER CASED"
print(large.lower())

I AM UPPER CASED
i am lower cased

In [2]:
some_sentence = "There is a space at the end    "
print(some_sentence)
print(some_sentence.rstrip())

There is a space at the end
There is a space at the end

In [3]:
increment = '4%'
print(increment.rstrip('%'))

4

In [4]:
start = "   There is space at the start"
print(start)
print(start.lstrip())

   There is space at the start
There is space at the start

In [5]:
spaces = "   Trim whitespaces  "
print(spaces)
print(spaces.strip())

   Trim whitespaces
Trim whitespaces

In [6]:
num_with_chars = '*444#'
print(num_with_chars.rstrip('#').lstrip('*'))

444

In [7]:
val = "2 apples"
no_of_apples = val[0] 
print('number of apples is', no_of_apples)

number of apples is 2

In [8]:
what = val[2:]
print(what)

apples

In [9]:
#slicing by specifying start and end index
print(val[2:5])

app

In [10]:
batch = "5 oranges 3 monkeys n"
fruits = batch[ :9]
print(fruits)

5 oranges

In [11]:
print(batch[ :-2])

5 oranges 3 monkeys

In [12]:
animals = batch[10:-2]
print(animals)

3 monkeys

In [13]:
nums = '123456789'
even_nums = nums[1::2]
print(even_nums)

2468

In [14]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [15]:
odd_nums_again = nums[ :: 2]
print(odd_nums_again)

13579

In [16]:
first_name = "Monty"
last_name = 'Python'

In [17]:
name = first_name + " " + last_name
print(name)

Monty Python

In [18]:
age = 30
my_age = ("I am "+ str(age) + " years old")
print(my_age)

I am 30 years old

In [19]:
My_age = "I am {0} years old".format(age) 
print(My_age)

I am 30 years old

In [20]:
A = "Data"
B = "Analysis"
C = "Pandas"

print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [21]:
#concat and update
name += ' ' + my_age
print(name)

Monty Python I am 30 years old

Split the string input_str = 'Kumar_Ravi_003' to the person's second name, first name and
unique customer code. In this example, second_name= 'Kumar', first_name= 'Ravi', 
customer_code = '003'.

A sample output of the input 'Kumar_Ravi_003' is:
Ravi
Kumar
003
 
Note that you need to print in the order first name, last name and customer code.

In [23]:
input_str = 'Kumar_Ravi_003'

# Split the input string by the underscore character
parts = input_str.split('_')

# Assign the parts to variables
second_name = parts[0]
first_name = parts[1]
customer_code = parts[2]

# Print the results in the required order
print(first_name)
print(second_name)
print(customer_code)

Ravi
Kumar
003