In [8]:
first_tuple = ("Monty Python", 30, "Baker Street", 5.8)
print(first_tuple[0])

Monty Python

In [9]:
city_tuple = ("Mumbai", 18.9949521, 72.8141853) 
print(city_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [10]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 18.9949521, 72.8141853)

In [11]:
new_tuple[1] = 13.8877

TypeError: 'tuple' object does not support item assignment

In [12]:
b = city_tuple[:-1]
print(b)
print(len(b))

('Mumbai', 18.9949521)
2

In [13]:
c = list(b)
print("c is: {0}".format(c))
c= tuple(c)
print("c is now a tuple: {0}".format(c))

c is: ['Mumbai', 18.9949521]
c is now a tuple: ('Mumbai', 18.9949521)



Add the element ‘Python’ to a tuple input_tuple = ('Monty Python', 'British', 1969).

In [ ]:
# Initialize the original tuple
input_tuple = ('Monty Python', 'British', 1969)

# Convert the tuple to a list
temp_list = list(input_tuple)

# Add the new element to the list
temp_list.append('Python')

# Convert the list back to a tuple
updated_tuple = tuple(temp_list)

# Print the resulting tuple
print(updated_tuple)