In [7]:
first_list = [2, 4, 5]
print(first_list**2)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [9]:
first_list = [2, 4, 5]

In [11]:
print(map(lambda x: x**2, first_list))

<map object at 0x000001DD239A1CC0>

In [13]:
first_list = [2,4,5]
print(list(map(lambda x: x**2, first_list)))

[4, 16, 25]

 
Using the Map function, create a list 'cube', which consists of the cube of numbers in input_list.

For e.g. if the input list is [5,6,4,8,9], the output should be [125, 216, 64, 512, 729].

In [15]:
def squareit(n):
    return n**2
print(list(map(squareit, first_list)))

[4, 16, 25]

In [ ]:
# Function to return double of n
def double(n):
    return n * 2

# Using map to double all numbers
numbers = [5, 6, 7, 8]
result = map(double, numbers)
print(list(result))

In [17]:
sums_list = [3,5,9,7]
sums_list2 = (4,5,6,7)
print(list(map(lambda x,y : x+y, sums_list,sums_list2)))

[7, 10, 15, 14]

In [19]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
proper = lambda x, y: x[0].upper()+x[1:] +' '+ y[0].upper()+y[1:]
print(list(map(proper, list_of_names,list_of_names2)))

['Nikola Tesla', 'James Watt', 'Albert Einstein']


Create a list ‘name’ consisting of the combination of the first name and the second name from list 1 and 2 respectively. 

For e.g. if the input list is:
[ ['Ankur', 'Avik', 'Kiran', 'Nitin'], ['Narang', 'Sarkar', 'R', 'Sareen']]

the output list should be the list:
['Ankur Narang', 'Avik Sarkar', 'Kiran R', 'Nitin Sareen']

Note: Add a space between first name and last name.

In [21]:
#Filter
divby3 = lambda x:  x % 3 == 0
my_list = [3,4,5,6,7,8,9]
div = filter(divby3, my_list)
print(list(div))

[3, 6, 9]

In [23]:
# Define a function to check if a number is even
def is_even(n):
    return n % 2 == 0

# Define a list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use filter to filter out even numbers
even_numbers = filter(is_even, numbers)
print("Even numbers:", list(even_numbers))

Even numbers: [2, 4, 6, 8, 10]

In [25]:
import functools

# Define a list of numbers
numbers = [1, 2, 3, 4]

# Use reduce to compute the product of list elements
product = functools.reduce(lambda x, y: x * y, numbers)
print("Product of list elements:", product)

Product of list elements: 24

In [ ]:
#Reduce
from functools import reduce
q  = reduce(lambda x, y: x+y, range(1,4))
print(q)

In [ ]:
list_of_nums = [22,45,32,20,87,94,30]
print(reduce(lambda x,y: x if x>y else y,list_of_nums))


Extract a list of numbers that are multiples of 5 from a list of integers named input_list.

In [11]:
# Given list of integers
input_list = [12, 15, 30, 22, 35, 40, 51, 65, 70, 81, 95]

# Using filter() to extract multiples of 5
multiples_of_5 = list(filter(lambda x: x % 5 == 0, input_list))

# Print the resulting list
print("Multiples of 5:", multiples_of_5)

Multiples of 5: [15, 30, 35, 40, 65, 70, 95]


You are given a list of strings such as input_list =  ['hdjk', 'salsap', 'sherpa'].

Extract a list of names that start with an ‘s’ and end with a ‘p’ (both 's' and 'p' are lowercase) in input_list.

In [13]:
# Given list of strings
input_list = ['hdjk', 'salsap', 'sherpa', 'skip', 'sop']

# Using filter() to extract names that start with 's' and end with 'p'
result = list(filter(lambda name: name.startswith('s') and name.endswith('p'), input_list))

# Print the resulting list
print("Names that start with 's' and end with 'p':", result)

Names that start with 's' and end with 'p': ['salsap', 'skip', 'sop']

In [ ]:

Using the Reduce function, concatenate a list of words in input_list, and print the output as a string.
If input_list = ['I','Love','Python'], the output should be the string 'I Love Python'.

In [16]:
from functools import reduce

# Given list of words
input_list = ['I', 'Love', 'Python']

# Use reduce to concatenate the words with a space in between
concatenated_string = reduce(lambda acc, word: acc + ' ' + word, input_list)

# Print the resulting string
print(concatenated_string)

I Love Python

You are given a list of numbers such as input_list = [31, 63, 76, 89]. Find and print the largest number in input_list using the reduce() function.

In [19]:
from functools import reduce

# Given list of numbers
input_list = [31, 63, 76, 89]

# Use reduce() to find the largest number
largest_number = reduce(lambda acc, num: acc if acc > num else num, input_list)

# Print the largest number
print("The largest number is:", largest_number)

The largest number is: 89

#### Practice Questions

Q1. Given an array of objects users, print only fullname.

users=[
  {firstName:"john",lastName:"Biden",age:26},
  {firstName:"jimmy",lastName:"cob",age:75},
  {firstName:"sam",lastName:"lewis",age:50},
  {firstName:"Ronald",lastName:"Mathew",age:26},  
];

In [3]:
users = [
    {"firstName": "john", "lastName": "Biden", "age": 26},
    {"firstName": "jimmy", "lastName": "cob", "age": 75},
    {"firstName": "sam", "lastName": "lewis", "age": 50},
    {"firstName": "Ronald", "lastName": "Mathew", "age": 26}
]

# Using map() and lambda to create a list of full names
full_names = list(map(lambda user: f"{user['firstName']} {user['lastName']}", users))

# Print the full names
for name in full_names:
    print(name)

john Biden
jimmy cob
sam lewis
Ronald Mathew

Q2. Given an array of objects users, print user of particular age along with their frequency.

users=[
  {firstName:"john",lastName:"Biden",age:26},
  {firstName:"jimmy",lastName:"cob",age:75},
  {firstName:"sam",lastName:"lewis",age:50},
  {firstName:"Ronald",lastName:"Mathew",age:26},  
];

In [6]:
users = [
    {"firstName": "john", "lastName": "Biden", "age": 26},
    {"firstName": "jimmy", "lastName": "cob", "age": 75},
    {"firstName": "sam", "lastName": "lewis", "age": 50},
    {"firstName": "Ronald", "lastName": "Mathew", "age": 26}
]

# Using filter to get users of age 26
age_26_users = list(filter(lambda user: user['age'] == 26, users))

# Print the users with age 26
print("Users with age 26:")
count = 0
for user in age_26_users:
    print(f"{user['firstName']} {user['lastName']}")
    count += 1

# Print the frequency of users with age 26
print(f"\nTotal number of users with age 26: {count}")

Users with age 26:
john Biden
Ronald Mathew

Total number of users with age 26: 2

Q3. Print object having marks greater than 60 and rollNumber greater than 15.

users = [
    {"firstName": "john", "lastName": "Biden", "age": 26, "marks": 65, "rollNumber": 18},
    {"firstName": "jimmy", "lastName": "cob", "age": 75, "marks": 55, "rollNumber": 16},
    {"firstName": "sam", "lastName": "lewis", "age": 50, "marks": 72, "rollNumber": 14},
    {"firstName": "Ronald", "lastName": "Mathew", "age": 26, "marks": 80, "rollNumber": 20}
]

In [9]:
# Modified list of users to include 'marks' and 'rollNumber'
users = [
    {"firstName": "john", "lastName": "Biden", "age": 26, "marks": 65, "rollNumber": 18},
    {"firstName": "jimmy", "lastName": "cob", "age": 75, "marks": 55, "rollNumber": 16},
    {"firstName": "sam", "lastName": "lewis", "age": 50, "marks": 72, "rollNumber": 14},
    {"firstName": "Ronald", "lastName": "Mathew", "age": 26, "marks": 80, "rollNumber": 20}
]

# Using filter() to get users with marks > 60 and rollNumber > 15
filtered_users = list(filter(lambda user: user['marks'] > 60 and user['rollNumber'] > 15, users))

# Print the filtered users
print("Users with marks greater than 60 and rollNumber greater than 15:")
for user in filtered_users:
    print(user)

Users with marks greater than 60 and rollNumber greater than 15:
{'firstName': 'john', 'lastName': 'Biden', 'age': 26, 'marks': 65, 'rollNumber': 18}
{'firstName': 'Ronald', 'lastName': 'Mathew', 'age': 26, 'marks': 80, 'rollNumber': 20}